body {
    font-family: Arial, sans-serif;
    background: url('../img/theme/mario-bg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 105vh; */
    margin: 0;
    padding: 0;
}

.container {
    
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(59, 16, 16);
    background-color: rgba(250, 250, 250, 0.349);
    text-align: center;
    max-width: 50%; /* Adjusted for better responsiveness */
    height: auto;
    margin: 0 auto; /* Center container horizontally */
  
    border-radius: 8px;
}

h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
    font-weight: 700;
}

label {
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
}

.input-button-wrapper {
    display: flex;
    flex-direction:column;
    gap: 10px;
    margin: 10px 0;
}

#amount {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    flex: 1;
}

#placeBet {
    background-color: #003cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    flex-shrink: 0;
}

#placeBet:hover {
    transform: scale(1.05);
    background: #0c0149;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.button-group label {
    margin-right: 10px;
}






.number-btn-dice1:hover,
.number-btn-dice2:hover,
.number-btn-dice3:hover {
    transform: scale(1.1);
    background-color: white;
}

.number-btn-dice2 {
    background-color: red;
}

.number-btn-dice3 {
    background-color: green;
}

.dice-container {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

#dice {
    width: 100px;
    height: 100px;
    transition: transform 1s;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.roll {
    animation: roll 1s;
}

.result,
.error,
.notification {
    text-align: center;
    font-size: 1.5rem;
}

.error {
    color: rgb(255, 0, 0);
}

.notification {
    color: white;
}

#topdata {
    padding-top: 30px;
}

.dicepredictionselection {
    border-radius: 30px;
  
    
}

.matcheswon {
    font-size: 1.125rem;
    color: black;
}

.row-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}

.row-container p {
    text-align: center;
}

@media (min-width: 1024px) {
    .row {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .row-container {
        grid-template-columns: 1fr;
    }

    .input-button-wrapper {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .button-group {
        flex-direction: column;
    }

    .result,
    .error,
    .notification {
        font-size: 1.25rem;
    }

    .dice-container {
        flex-direction: column;
    }
}

.no-border-table {
    border-collapse: collapse;
    width: 100%;
}

.no-border-table th,
.no-border-table td {
    border: none;
}

td {
    font-size: 20px;
    font-weight: 700;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#dice1{
    display:block;
  }

  .userselectionnumbers{
    font-weight: 700;
  }
  #up-icon,#down-icon{
    width:20%;
    height:5%;
  }
  #up-c-icon,#down-c-icon{
    width:100%;
    height:90%;
  }
