


.result-table,
.result-table2 {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.result-table th,
.result-table td,
.result-table2 th,
.result-table2 td {
    border: none;
    text-align: center;
}

.result-table,
.result-table2 {
    display: none;
}

hr {
    width: 100%;
    margin: 20px 0;
}

.result-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #190379;
    color:white;
  }
  
  .rowtable {
    display: flex;
    color:white;
  }
  
  .cell {
    flex: 1;
    padding: 10px;
    color:white;
    border: 1px solid #dddddd5d; /* Adjust the border as needed */
  }
  
  .heading {
    font-weight: bold;
  }
  
  .no-border-table .cell {
    border: none;
  }
  